* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-nav {
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  font-size: xx-large; }

.h1 {
  font-family: 'Bebas Neue', cursive;
  color: white; }

.h1Sub {
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center; }

body {
  height: 400vh;
  background-color: #000000;
  font-family: 'Roboto', sans-serif; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000000;
  text-align: center;
  color: #f4f4f4; }

.icons {
  padding-top: 1rem; }

.icons a {
  text-decoration: none;
  font-size: 2rem;
  margin: 0.5rem;
  color: #f4f4f4; }

.copyright {
  font-size: 1rem;
  margin-top: 0.5rem; }

@media (max-width: 500px) {
  html {
    font-size: 50%; } }

@media (min-width: 501px) and (max-width: 768px) {
  html {
    font-size: 50%; } }

.main img {
  width: 100%;
  height: 500px;
  padding-left: 50px;
  padding-right: 50px;
  height: 600px; }

.tourTitle {
  font-family: 'Bebas Neue', cursive;
  color: white;
  text-align: center; }

.mcct {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 30px 30px 30px;
  justify-content: center;
  padding-left: 230px;
  padding-top: 20px;
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif; }

.btnn {
  width: fit-content;
  border-radius: 10%; }

.btnn a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 20px; }

img {
  max-width: 100%;
  max-height: 100%; }

.imgTour {
  width: auto;
  height: 500px;
  padding-left: 50px;
  padding-right: 50px; }

.textoMain {
  display: grid;
  grid-template-rows: 50px;
  padding-left: 40px;
  color: white;
  font-weight: 200;
  text-align: start;
  font-size: 1rem; }

img {
  max-width: 100%;
  max-height: 100%; }

.box-img {
  height: 300px;
  width: 300px; }

.gallery-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
  justify-content: center;
  padding-left: 50px;
  padding-top: 20px; }

@media (min-width: 501px) and (max-width: 768px) {
  .gallery-container {
    width: 95%;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 40px; } }

@media screen and (max-width: 500px) {
  .gallery-container {
    width: 90%;
    grid-template-columns: 200px;
    grid-template-rows: 200px; } }

.video-container {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px 400px 400px;
  justify-content: center;
  padding-left: 50px;
  padding-top: 20px; }

@media (min-width: 501px) and (max-width: 768px) {
  .video-container {
    width: 95%;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-gap: 40px; } }

@media screen and (max-width: 500px) {
  .video-container {
    width: 90%;
    grid-template-columns: 200px;
    grid-template-rows: 200px; } }

.boton:hover {
  transform: scale(1.2);
  transition: all 2s; }

.social-links {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px;
  justify-content: center;
  padding-left: 90px;
  padding-top: 20px;
  font-size: 2rem;
  color: #f4f4f4; }

body contacto {
  font-family: 'Bebas Neue', cursive;
  min-height: 100vh;
  width: 100%;
  display: flex; }

.form {
  background-color: #8b0000;
  width: 90%;
  margin: auto;
  max-width: 400px;
  border-radius: 1em;
  padding: 3.5em 1.5em; }

.form__container {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%; }

.form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: .4em; }

.form__input {
  font-family: inherit;
  font-size: 1rem;
  padding: .8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0bb;
  border-radius: 0.2em; }

.form__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: .5em; }

.form-cta {
  font-family: inherit;
  font-size: 1rem;
  background-color: #000000;
  color: #fff;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer; }

@media (max-width: 450px) {
  .form {
    padding: 3.5em 1em; } }
